/* Slot Machine (Interface) */
.quiz-app {
    position: fixed;
    bottom: 40%;
    right: 1%;
    z-index: 1000;
}
.quiz-app img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px dashed darkorchid;
    border-radius: 10px;
    background-color: white;
    transition: .2s ease;
}
.quiz-app img:hover {
    transform: scale(1.1);
}