* {
    font-family: 'Times New Roman', Times, serif;
}

#page {
    display: grid;
    grid-template-areas: 
        "header"
        "products"
        "table-data"
        "team"
        "footer";
}

/* Header */
#header {
    grid-area: header;
    border-bottom: 5px solid black;
}

/* Section 1: Product (Anime) */
#products {
    grid-area: products;
    border-bottom: 5px solid black;
}

/* Section 2: Table Static Data */
#table {
    grid-area: table-data;
    border-bottom: 5px solid black;
}

/* Section 3: Team (Group Members) */
#teams {
    grid-area: team;
    border-bottom: 5px solid black;
    background-color: rgb(163, 120, 204);
}

/* Footer */
#footer {
    grid-area: footer;
    border-bottom: 5px solid black;
}
