/* Table Static Data */
.table-container {
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
}

#table-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-size: 8mm;
}

.table-label {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    
}

.table-label td {
    font-weight: bold;
    border: 3px solid black;
    padding: 20px;
}

tbody {
    border: 3px solid black;
}

tbody td {
    padding: 20px;
    border: 3px solid black;
}

.table-row-label {
    display: flex;
    flex-direction: column;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .table-container td {
        font-size: large;
    }
}